$color: black;
$color-darkmode: white;

$background-color: rgb(200, 115, 250);
$background-color-darkmode: rgb(42, 0, 66);
$box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);

// $button-background-color: lightgrey;
// $button-background-color-hover: rgb(187, 187, 187);
// $button-background-color-transparent: rgba(211, 211, 211, 0.702);

$button-background-color: #7b1fa2;
$button-background-color-hover: #ae52d4;
$button-background-color-transparent: #4a0072;

$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);